.arrow {
    font-size: 18px;
    font-weight: bold;
  }
  
  .x-axis-arrow .right-arrow {
    position: absolute;
    right: -10px;
    bottom: -16px;
    font-size: 25px;
  }
  
 
  .up-arrow {
    position: absolute;
    right: -5px;
    font-size: 25px;
    top: -23px;
  }
  .zoom-in {
    transition: transform 0.2s ease-in-out; /* Thời gian hoạt ảnh */
  }
  
  .zoomed {
    transform: scale(1.1); /* Tăng kích thước lên 10% khi phóng to */
  }
  