@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes blinkError {
    0%, 100% {
      background-color: #fa2e0a; /* Red for Error */
    }
    50% {
      background-color: #fa592d; /* Lighter Red */
    }
  }
  
  .animate-blinkError {
    animation: blinkError 0.2s infinite;
  }
   
  .custom-menu-list {
    @apply flex justify-between p-8;
    
  }
  
  .custom-column {
    @apply flex-1 py-8 border-b-0;
    padding: 0 8px;
    
  }
  
  .custom-column:first-child {
    @apply border-l-2;
  }
  
  .custom-column strong {
    @apply block mb-2 text-sm text-red-50;
   
  }

 


/* index.css */

/* Tùy chỉnh DatePicker Calendar widget */
.custom-datepicker .ant-picker-dropdown {
  width: 100% !important; /* Đặt chiều rộng của calendar widget bằng với ô nhập */
}

/* Tùy chỉnh Select để có padding rộng hơn */
.custom-select .ant-select-selector {
  @apply p-6; /* Tăng padding */
  font-size: 24px; /* Tăng kích thước chữ */
}

.custom-select .ant-select-arrow {
  font-size: 24px; /* Tăng kích thước mũi tên */
}

/* Đảm bảo calendar của DatePicker rộng bằng với phần tử đầu vào */
.custom-datepicker .ant-picker-input input {
  @apply text-3xl; /* Chỉnh kích thước chữ */
}

.custom-datepicker .ant-picker-suffix {
  font-size: 24px; /* Chỉnh kích thước icon lịch */
}
